.career-intro .primary-button{
 background-color: blue;
 color: white;
 font-weight: bold;
}
.job{
   padding: 20px;
   border: 1px solid rgba(0, 0, 0, 0.43);
   border-radius: 10px;
   margin-top: 50px;
   animation: job-animation 10s linear infinite;
}
.job img{
    height: 300px;
    width: 100%;
}

.courses-intro{
    background-size: cover;
    background-position: cover;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.courses-intro-content{
    width: 50%;
    color: white;
    border-left: 5px solid cyan;
    padding-left: 20px;
    animation: courses-intro-animation 10s linear infinite;
}
.motivation-parent{
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.motivation:hover{
    transform: scale(1.5);
    background-color: #EBEFC0;
    background: #EBFCF0;
box-shadow:  -5px -5px 10px #c3d1c7,
             5px 5px 10px #ffffff;
             color: black;
}

.motivation{
 height: 300px;
 width: 300px;
 background-color: #0c0012c6;
 border-radius: 50px;
 transition: all 0.5s;
}

.motivation:hover > h1{
 display: none;
}

.motivation:hover > .motivation-content{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.motivation h1{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.motivation-content{
    display: none;
}

.courses-intro-content h1{
    font-size: 75px;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width:2px;
    -webkit-text-stroke-color:cyan;
    border-bottom: 2px solid white;
}

.courses-intro-content div{
    border-right: 2px solid white;
}

.job-list{
    overflow: hidden;
}

.job:hover > .job-content{
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
    overflow: hidden;
}
.job:hover{
    animation-play-state: paused;
}

.job-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.763);
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.course{
    border: 1px solid rgba(0, 0, 0, 0.43);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 50px;
    animation: job-animation 10s linear infinite;
 }

.courses-list{
    overflow: hidden;
}

.course img{
    height: 220px;
    width: 100%;
    border-radius: 10px;
}

.course:hover > .course-content{
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
    overflow: hidden;
}
.course:hover{
    animation-play-state: paused;
}

.course-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.763);
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}

@media(max-width: 750px){
    .courses-intro-content{
        width: 100%;
        color: white;
        border-left: 5px solid cyan;
        padding: 20px;
        margin: 20px;
        border-left: 2px solid white;
    }

    .courses-intro-content h1{
        font-size: 35px;
        -webkit-text-stroke-width: 1px;
    }
    
    .courses-intro-content p{
       padding: 10px;
    }
}

@keyframes job-animation {
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}

@keyframes courses-intro-animation {
    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
}