.career-intro .primary-button{
 background-color: blue;
 color: white;
 font-weight: bold;
}
.job{
   padding: 20px;
   border: 1px solid rgba(0, 0, 0, 0.43);
   border-radius: 10px;
   margin-top: 50px;
}
.job img{
    height: 220px;
    width: 100%;
}