.career-intro .primary-button{
 background-color: blue;
 color: white;
 font-weight: bold;
}
.job{
   padding: 20px;
   border: 1px solid rgba(0, 0, 0, 0.43);
   border-radius: 10px;
   margin-top: 50px;
}
.job img{
    height: 300px;
    width: 100%;
}

.job:hover > .job-content{
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
    overflow: hidden;
}

.job-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.763);
    height: 100%;
    width: 100%;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}